body{
    background-color: #F6F6F6;
}

.inform-background{
    height:315px;
    padding-top: 70px;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/bg_profile.jpg) 50% no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.head-photo{
    position: relative;
    width:102px;
    height: 102px;
    margin: 0 auto;
}

.head-image{
    display: block;
    width: 100%;
    border: 4px solid #fff;
    border-radius: 99px;
    background: #fff;
    image-rendering: optimizeQuality;
    margin-bottom: 10px;
}

.upbutton {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.upload{
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

.upload:hover{
    color: #fff;
    text-decoration: none;
}

.upload input.updateimg{
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.upbutton .submit{
    border: 1px solid rgb(255, 255, 255, 0.5);
    color: rgb(255, 255, 255, 0.5);
    padding: 0 0;
    height: 30px;
    margin-left: 10px;
    width: 50px;
    -moz-transition: 0.5s all;
}

.upbutton .submit:hover{
    color: #fff;
}

.profile-title{
    font-size: 0;
    padding: 0;
    margin-top: 40px;
}

.name{
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    margin-right: 4px;
    text-align: center;
    color: #fff;
    font-family: poppin,Tahoma,Arial,微软雅黑,sans-serif;
}

.user-statistic{
    margin-top: 10px;
}

.user-statistic-item{
    list-style: none;
    width: auto;
    padding: 0 25px;
    text-align: center;
    border-color: #24313d;
    font-size: 14px;
}

.main{
    min-height: 500px;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mod-tab{
    overflow: hidden;
    border-bottom: 0 none;
}

.mod-tab-item{
    position: relative;
    float: left;
    font-size: 16px;
    overflow: hidden;
}

.mod-tab,.mod-tab-item{
    height: 56px;
    line-height: 56px;
}

.profile-nav{
    position: absolute;
    top: -56px;
    left: 0;
    margin-bottom: 0;
    width: 80%;
}

.mod-tab-current{
    color: #31c27c;
}

.profile-nav .mod-tab-current, profile-nav .mod-tab-item:hover{
    color:#31c27c;
}

.profile-nav .mod-tab-item{
    color: #fff;
    margin-right: 40px;
}


.all{
    width:950px;
    border:1px solid #EEEEEE;
    height:600px;
    margin:auto;
    margin-top:50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

input{
    width:90px;
    height:40px;
    border:none;
    border-radius: 5px;
    line-height: 40px;
    background: none;
    color:white;
}
