#upload-main {
    width: 980px;
    height: 0px;
    position: relative;
    font-size: 12px;
}


#upload-main .cap {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 98px;
    left: 300px;
    width: 550px;
}
#uploadForm {
    height: 830px;
    position: relative;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 10px #d7d7d7;
    background-color: #fff;
    position: absolute;
    width: 550px;
    top: 10px;
    left: 220px;
    color: #818181;
}
#upload-main .cap h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}
#upload-main .cap a {
    position: absolute;
    color: #818181;
    left: 173px;
    top: 27px;
}

#upload-main a {
    text-decoration: none;
}
#upload-main a:hover {
    text-decoration: underline;
}
#uploadForm ol {
    padding-top: 20px;
    padding-left: 93px;
}
#uploadForm li {
    line-height: 30px;
}
#uploadForm li input {
    width: 350px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccd1d5;
    display: block;
    border-radius: 5px;
}
#uploadForm li textarea {
    width: 350px;
    height: 100px;
    line-height: 20px;
    border: 1px solid #ccd1d5;
    display: block;
    border-radius: 5px;
    resize: none;
}
#uploadForm input.btn-submit {
    position: relative;
    display: block;
    overflow: hidden;
    width: 88px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
    color: #fff;
    top: 30px;
    left: 230px;
    border: 0;
    background: url(../images/loginbutton.png) no-repeat 0 0;
}

._submit {
    position: relative;
    display: block;
    overflow: hidden;
    height: 31px;
    cursor: pointer;
    top: 10px;
    margin: 0 auto;
    border: 2px solid #0f88eb;
    border-radius: 40px;
    background: transparent;
    color: #0f88eb;
    width: 90px;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

._submit:hover {
    background-color: #0f88eb;
    color: #fff;
}

._submit:active {
    background-position: 0 -62px;
}

#uploadForm input.btn-submit:hover {
    background-position: 0 -31px;
}
#uploadForm input.btn-submit:active {
    background-position: 0 -62px;
}
.kitjs-validator {
    color: #BF1623;
}

table td {
    font-size: 19px;
}

label {
    cursor: pointer;
    margin-right: 1em;
}

ol {
    list-style: none;
}

#photo1, #photo2, #photo3{
    margin:0px 5px 10px 0px;
    width: 285px;
    line-height: 33px;
    border: 1px solid #ccd1d5;
    display:inline;
    border-radius: 5px;
}

.scanphoto {
    width:60px;
    display:inline;
    border:1px solid #ccc;
    color: #818181;
    height: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.scanphoto:hover {
    color: #fff;
    background-color: #818181;
}

select{
    height:30px;
    width:100px ;
    border-radius: 5px;
    margin-top:10px;
    border:1px solid #CCD1D5;
}

.return{
    color: #0f88eb;
    margin-right: 10px;
}

.return-link{
    font-size: 15px;
    float: left;
    margin: 20px -100px 20px 20px;
    text-decoration: none;
    height: 30px;
    padding-top: 20px;
}
